.wrap {
	min-height: 700px;
}

.logo {
	position: static !important;
}

.wizard-label {
	text-align:right;
	margin-top: 5px;
}

.billing-buttons > a {
	outline: none;
	text-decoration: none !important;
	cursor: pointer;
	width: 60%;
	margin: 0 auto;
}


.wizard-button {
	text-decoration: none !important;
	cursor: pointer;
}

.alert {
	position: relative;
}

button.close {
	position: absolute;
	top: 0px;
	right: 5px;
}

.has-error .form-control {
	border-color: rgb(240, 65, 28) !important;
	-webkit-box-shadow: -2px 0px 13px rgba(240, 16, 16, 0.5) !important;
	box-shadow: -2px 0px 13px rgba(240, 16, 16, 0.5) !important;
}

.has-error .input-group-addon {
	border-color: rgb(166, 55, 31) !important;
	-webkit-box-shadow: -2px 0px 21px rgba(240, 16, 16, 0.6) !important;
	box-shadow: -2px 0px 21px rgba(240, 16, 16, 0.6) !important;
}

.control-label {
	text-align: right !important;
}

.modal-header button.close {
	margin-top: 4px;
	color: white;
	opacity: .7;
}

.modal-header button.close:hover {
	opacity: 1;
}


.modal {
	color: white;
}

.modal-content {
	background: rgb(113, 127, 118);
	opacity: .97;
}

.modal h4 {
	color: white;
	font-size: 24px;
	text-shadow: 1px 1px 1px rgb(36, 66, 53);
}