.navbar-buttons > li {
  float: left;
  margin-right: 20px;
}

.logo {
  width: 130px;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.logo-thumb {
  background: url("/img/logo.png") no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 5px;
}

