<template name="monthly_row">
  <td><span class="fw-semi-bold">{{subdomain}}</span></td>
  <td class="hidden-xs">
    <small>{{github_url}}</small><br />
		<small><a class='cancel_subscription' href="#">cancel</a></small>
  </td>
  <td class="hidden-xs">{{formattedDatetime 'last_charged'}}</td>
  <td class="width-150">{{units_used}}</td>
  <td class=""><span class="label label-success label-{{statusClass}}">{{model.status}}</span></td>
  <td class="hidden-xs">
    {{#if showActionButton}}
    	<a class="btn btn-{{actionButtonClass}}" href="#">{{actionButtonText}}</a>
    {{/if}}
  </td>
</template>

<template name="hourly_row">
  <td><span class="fw-semi-bold">{{subdomain}}</span></td>
  <td class="hidden-xs">
    <small>{{github_url}}</small><br />
		<small><a class='remove_instance' href="#">remove instance</a></small>
  </td>
  <td class="hidden-xs">{{formattedDatetime 'last_charged'}}</td>
  <td class="width-150">{{units_used}}</td>
  <td class=""><span class="label label-success label-{{statusClass}}">{{model.status}}</span></td>
  <td class="hidden-xs">
    {{#if showActionButton}}
    	<a class="btn btn-{{actionButtonClass}} instance-action" href="#">{{actionButtonText}}</a>
    {{/if}}
  </td>
</template>

<template name="trial_row">
  <td><span class="fw-semi-bold">{{subdomain}}</span></td>
  <td class="hidden-xs">
    <small>{{github_url}}</small><br />
		<small><a class='remove_instance' href="#">remove instance</a></small>
  </td>
  <td class="hidden-xs">{{formattedDatetime 'last_charged'}}</td>
  <td class="width-150">{{units_used}}</td>
  <td class=""><span class="label label-success label-{{statusClass}}">{{model.status}}</span></td>
  <td class="hidden-xs">
    {{#if showActionButton}}
    	<a class="btn btn-{{actionButtonClass}} instance-action" href="#">{{actionButtonText}}</a>
    {{/if}}
  </td>
</template>