<template name="instances">
  <div class="wrap">

    <div class="content container">

      <h2 class="page-title">Instances </h2>

      <section class="widget">
        <header>
          <h4>Recent Ultimate Instances</h4>

          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          </div>
        </header>
        

        <div class="body">
          <div class="mt">
            {{> InstancesTable}}
         </div>
        </div>     
      </section>

    </div>


    <div class="loader-wrap hiding hide">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
  </div>
</template>