<template name="invoice">
  <div class="wrap">
    <div class="content container">
      <h2 class="page-title">Invoice <small></small></h2>
      <section class="widget">
        <div class="body no-margin">
          <div class="row">
            <div class="col-sm-6 col-print-6">
              <div class="logo pull-left" style="margin-left:-45px">
                <div class="logo-thumb"></div>
                <h4><a href="{{pathFor 'home'}}">Ultimate <strong>IDE</strong></a></h4>
              </div>
            </div>
            <div class="col-sm-6 col-print-6">
              <div class="invoice-number text-align-right">
                #{{num}} / {{formattedDate}}
              </div>
              <div class="invoice-number-info text-align-right">
                Some Invoice number description or whatever
              </div>
            </div>
          </div>
          <hr>
          <section class="invoice-info well">
            <div class="row">
              <div class="col-sm-6 col-print-6">
                <h4 class="details-title">Company Information</h4>
                <h3 class="company-name">
                  Ultimate IDE
                </h3>
                <address>
                  <strong>San Diego</strong><br>

                  <abbr title="Work email">e-mail:</abbr> <a href="mailto:james@nucleuside.com">coder@ultimateide.com</a><br>
                </address>
              </div>
              <div class="col-sm-6 col-print-6 client-details">
                <h4 class="details-title">Client Information</h4>
                <h3 class="client-name">
                </h3>
                <address>
                  <abbr title="Work email">e-mail:</abbr> <a href="mailto:{{user}}">{{user.getEmail}}</a><br>
                  <div class="separator line"></div>
                  <p class="margin-none"><strong>Note:</strong><br>Some nights I stay up cashing in my bad luck.
                    Some nights I call it a draw</p>
                </address>
              </div>
            </div>
          </section>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Item</th>
                <th class="hidden-xs">Description</th>
                <th>Quantity</th>
                <th class="hidden-xs">Price per Unit</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {{#each items}}
              <tr>
                <td>{{sno}}</td>
                <td>{{item}}</td>
                <td class="hidden-xs">{{desc}}</td>
                <td>2</td>
                <td class="hidden-xs">{{ppu}}</td>
                <td>{{total}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-6 col-print-6">
            </div>
            <div class="col-sm-6 col-print-6">
              <div class="row text-align-right">
                <div class="col-xs-6"></div> <!-- instead of offset -->
                <div class="col-xs-3">
                  <!-- <p>Subtotal</p> -->
                  <!-- <p>Tax(10%)</p> -->
                  <p class="no-margin"><strong>Total</strong></p>
                </div>
                <div class="col-xs-3">
                  <!-- <p>1,598.88</p> -->
                  <!-- <p>159.89</p> -->
                  <p class="no-margin"><strong>{{total}}</strong></p>
                </div>
              </div>
            </div>
          </div>
          <p class="text-align-right mt-lg mb-xs">
            Ultimate IDE
          </p>
        </div>
      </section>
    </div>
  </div>
</template>
