<template name="payment_info">
  <div class="wrap">
    <div class="content container signup-wizard">
      <h2 class="page-title"> Payment <small> details</small></h2>
      <div class="row">
        <div class="col-lg-7 col-lg-offset-1">
					
          <section class="widget">
						
            <header>
							{{#if currentUser.card_number}}
								<h4 style="text-align:right;">Card on File: {{currentUser.card_number}}</h4>
							{{/if}}
            </header>
						
            <div class="body">
              <div class="form">

                <div class="tab-content">

                  <div id="payment-details">
										{{#if currentUser}}
											{{#ultimate_form id='payment_info' model=this class='form-horizontal mt-sm'}}
											
	                      <fieldset>											
													{{>form_group name='number' style="width:258px" value="4242424242424242"}}
													
	                       	{{>cc_exp_group month='expMonth' year='expYear' monthStyle='width: 110px; float:left;' yearStyle='margin-left:20px; width:80px; float:left;'}}
													
													{{>form_group name='cvc' style="width:110px;" value="123"}}
													{{>auto_submit value='Save' style='width: 208px;'}}
	                      </fieldset>
											
											{{/ultimate_form}}
										{{/if}}
                  </div>
									
                </div>
              </div>
            </div>
          </section>
					
        </div>
      </div>
    </div>
		
    <div class="loader-wrap hiding hide">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
  </div>
</template>
