<template name="header">
  <header class="page-header">
    <div class="navbar">
      <div class="logo pull-left">
        <div class="logo-thumb"></div>
        <h4><a href="{{pathFor 'home'}}">Ultimate <strong>IDE</strong></a></h4>
      </div>
      <ul class="navbar-buttons pull-right">
        <li>
          <a href="https://github.com/NucleusIDE/meteor-nucleus"
            class="btn btn-sm btn-transparent">
            Github&nbsp;
            <i class="fa fa-github"></i>
          </a>
        </li>
        {{#if currentUser}}
	        <li>
	          <a href="{{pathFor 'logout'}}"
	            class="btn btn-sm btn-transparent">
	            Log Out
	            <i class="fa fa-sign-out"></i>
	          </a>
	        </li>
        {{else}}
	        <li>
	          <a class="github-login btn btn-sm btn-transparent" href="#">
	            <i class="fa fa-github"></i> Signup/In with Github
	          </a>
	        </li>
        {{/if}}
      </ul>
    </div>
  </header>
</template>
