<template name="sidebar">
  <nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
      <li class="">
        <a href="{{pathFor 'instances'}}"><i class="fa fa-home"></i> <span class="name">Instances</span></a>
      </li>
      <li class="panel">
        <a class="accordion-toggle " data-parent="#side-nav" href="{{pathFor 'new_instance' data=step}}">
          <i class="fa fa-plus"></i>
          <span class="name">New Instance</span>
        </a>
      </li>
      <li class="panel">
        <a class="accordion-toggle "
           data-parent="#side-nav" href="{{pathFor 'billing_history'}}">
          <i class="fa fa-money"></i>
          <span class="name">Billing History</span>
        </a>
      </li>
      <li class="panel">
        <a class="accordion-toggle "
           data-parent="#side-nav" href="{{pathFor 'payment_info'}}">
          <i class="fa fa-dollar"></i>
          <span class="name">Payment Info</span>
        </a>
      </li>
      <li></li>
      <li class="visible">
        <a href="{{pathFor 'logout'}}"><i class="fa fa-sign-out"></i> <span class="name">Log Out</span></a>
      </li>
    </ul>
  </nav>
</template>
