<template name="sidebar">
  <nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">

    </ul>

    <h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>
    <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
    <ul class="sidebar-labels">
      <li>
        <a href="#">
          <!-- yep, .circle again -->
          <i class="fa fa-circle text-warning"></i>
          <span class="label-name">My Recent</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle text-gray"></i>
          <span class="label-name">Starred</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle text-danger"></i>
          <span class="label-name">Background</span>
        </a>
      </li>
    </ul>

    <h5 class="sidebar-nav-title">Projects</h5>

  </nav>
</template>
