<template name="billing_history">
  {{> header}}

  {{> sidebar}}
  <div class="wrap">
    <div class="content container">
      <h2 class="page-title">Billing <span class="fw-semi-bold">History </span></h2>

      <section class="widget">
        <header>
          <!-- <h4>November <span class="fw-semi-bold">2014</span></h4> -->
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          </div>
        </header>
        <div class="body">
          <div class="mt">
            <table id="datatable-table" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th class="no-sort hidden-xs">Git Url</th>
                  <th class="hidden-xs">Branch</th>
                  <th class="hidden-xs">Date</th>
                  <th class="no-sort">Hours</th>
                  <th class="no-sort">Total Charge (USD)</th>
                </tr>
              </thead>
              <tbody>
                {{#each payments}}
                <tr class="clickable">
                  <td><span class="fw-semi-bold">{{get_subdomain}}</span></td>
                  <td class="hidden-xs">
                    <small>{{get_github_url}}</small>
                  </td>
                  <td class="hidden-xs">Master</td>
                  <td class="hidden-xs">{{get_date}}</td>
                  <td class="width-150">
                    {{get_units_used}}
                  </td>
                  <td class="">
                    $ {{get_amount}}
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <div class="loader-wrap hiding hide">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
  </div>
</template>
