<template name="billing_wizard">
  {{> header}}

  {{> sidebar}}

  <div class="wrap">
    <div class="content container signup-wizard">
      <h2 class="page-title"> Signup <small>for trip to Mars</small></h2>
      <div class="row">
        <div class="col-lg-7 col-lg-offset-1">
          <section class="widget">
            <header>

            </header>
            <div class="body">
              <div id="wizard" class="form-wizard">
                <ul class="wizard-navigation nav-justified">
                  <li><a class="step-1" href="#"><small>1.</small><strong> Billing Option </strong></a></li>
                  <li><a class="step-2" href="#"><small>2.</small> <strong> Order Details  </strong></a></li>
                  <li><a class="step-3" href="#"><small>3.</small> <strong>Review</strong></a></li>
                  <li><a class="step-4" href="#"><small>4.</small> <strong>Thank you!</strong></a></li>
                </ul>
                <div id="bar" class="progress progress-small">
                  <div class="progress-bar progress-bar-inverse"></div>
                </div>
                <div class="tabs">

                  {{flash}}

                  {{#is_equal key=steps_done val=1}}
                  <div class="tab-pane" id="tab1">
                    <form class="form-horizontal mt-sm" action='#'>
                      <div class="billing-buttons col-md-12 text-align-center">
                        <button class="btn-primary btn-lg btn-block hourly">Hourly* ($1/hr )</button>
                        <div class="or">- OR -</div>
                        <button class="btn-transparent btn-lg btn-block monthly">Monthly  ($160/month)</button>
                        <span class="help-block pull-left">*min 2 hours billed. Charged every week</span>
                      </div>
                    </form>
                  </div>
                  {{/is_equal}}

                  {{#is_equal key=steps_done val=2}}
                  <div class="tab-pane" id="tab2">
                    <form class="form-horizontal mt-sm" action='' method="POST">
                      <fieldset>
                        <div class="form-group">
                          <label for="github-url" class="control-label col-md-3">Github URL</label>
                          <div class="col-md-8">
                            <div class="col-md-10">
                              <input type="url" id="github-url" name="github-url" placeholder="Github URL of your Project" class="form-control" value="{{order.github_url}}" >
                              <span class="help-block pull-left">Github URL of your project</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="courier" class="control-label col-md-3">Subdomain</label>

                          <div class="col-md-8">
                            <div class="col-md-10 input-group" style="margin-left:15px;">
                              <div class="form-inline input-group">
                                <input type="text" class="form-control" id="subdomain" placeholder="my-project" value="{{order.subdomain}}">
                                <div class="input-group-addon">.nucleuside.com</div>
                              </div>
                              <span class="help-block pull-left">Your project will be accessible here</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3" for="password">Password</label>
                          <div class="col-md-8">
                            <div class="col-md-10"><input type="password" id="domain-passwd" name="password" placeholder="(optional)" class="form-control" value="{{order.password}}">
                              <span class="help-block">Wanna password protect your subdomain?</span></div>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                  {{/is_equal}}

                  {{#is_equal key=steps_done val=3}}
                  <div class="tab-pane" id="tab3">
                    <form class="form-horizontal mt-sm" action='' method="POST">
                      <fieldset>
                        <div class="form-group">
                          <label for="subdomain" class="col-sm-4 control-label">Subdomain</label>
                          <div class="col-sm-7">
                            <input type="text" id="normal-field" class="form-control input-transparent" disabled="disabled" value="{{order.subdomain}}.nucleuside.com">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="hint-field" class="col-sm-4 control-label">
                            Billing Option
                          </label>
                          <div class="col-sm-7">
                            <input type="text" id="transparent-field" class="form-control input-transparent" disabled="disabled" value="{{order.billing_method}}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="hint-field" class="col-sm-4 control-label">
                            Github Url
                          </label>
                          <div class="col-sm-7">
                            <input type="text" id="transparent-field" class="form-control input-transparent" disabled="disabled" value="{{order.github_url}}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="hint-field" class="col-sm-4 control-label">
                            Card
                          </label>
                          <div class="col-sm-7">
                            <input type="text" id="hint-field" class="form-control input-transparent" disabled="disabled" value="************{{currentUser.get_card}}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="hint-field" class="col-sm-4 control-label">
                            Amount
                          </label>
                          <div class="col-sm-7">
                            <input type="text" id="hint-field" class="form-control input-transparent" disabled="disabled" value="{{order.display_amount}}">
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                  {{/is_equal}}

                  {{#is_equal key=steps_done val=4}}
                  <div class="tab-pane" id="tab4">
                    <h2>Thank you!</h2>
                    <p class="mb-lg">Your submission has been received.</p>
                  </div>
                  {{/is_equal}}

                  <div class="description ml mr mt-n-md">
                    <ul class="pager wizard">
                      <li class="previous">
                        <button disabled={{cant_go_previous}} class="btn btn-primary pull-left"><i class="fa fa-caret-left"></i> Previous</button>
                      </li>
                      <li class="next">
                        <button class="btn btn-primary pull-right" disabled={{cant_go_next}}>Next <i class="fa fa-caret-right"></i></button>
                      </li>
                      <li class="finish" style="display: none">
                        <button class="btn btn-success pull-right" >Finish <i class="fa fa-check"></i></button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="loader-wrap hiding hide">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
  </div>
</template>
