<template name="landing">
  <div class="landing">
    <div class="container">
      <header class="page-header">
        <div class="navbar">
          <div class="logo pull-left">
            <h4><a href="{{pathFor 'home'}}">Nucleus <strong>IDE</strong></a></h4>
          </div>
          <ul class="navbar-buttons pull-right">
            <li>
              <a href="https://github.com/NucleusIDE/meteor-nucleus"
                 class="btn btn-sm btn-transparent">
                Github&nbsp;
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li>
              <a href="{{pathFor 'login'}}"
                 class="btn btn-sm btn-transparent">
                Login
              </a>
            </li>
            <li>
              <a href="{{pathFor 'signup'}}"
                 class="btn btn-sm btn-transparent">
                Signup
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="content hero">
        <div class="demo-details col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <h1 class='heading'>Nucleus IDE</h1>
          <h2 class="subheading">Make the web writable</h2>
          <a href="http://demo.nucleuside.com" class="btn btn-transparent btn-lg goto-demo">
            Check Nucleus in Action
          </a>
        </div>
        <div class="demo-video col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <div class="vid">
            <iframe width="560" height="315" src="//www.youtube.com/embed/PnWHet_5GrI" allowfullscreen=""></iframe>
          </div><!--./vid -->
        </div>
      </div>
    </div>
    <div id="about" class="widget widget-white widget-about">
      <div class="container">
        <div class="row">

          <div class="how-to-use col-sm-10 col-sm-offset-1">
            <h2 class="heading">Super Easy to use</h2>

            <div class="col-sm-12 col-md-12">
              <h3 class="subheading">Install with a single command</h3>
              <pre>
                <code class="language-javascript">
meteor add nucleusIDE:nucleus
                </code>
              </pre>
            </div>

            <div class="col-sm-12 col-md-6">
              <h3 class="subheading">Configure on Server</h3>
              <pre>
                <code class="language-javascript">
Nucleus.initialize({
    git: "git@github.com:channikhabra/todos.git",
    project: 'todos',
    preventAppCrashes: false
  });
                </code>
              </pre>
            </div>

            <div class="col-sm-12 col-md-6">
              <h3 class="subheading">Create an iron route</h3>
              <pre>
                <code class="language-javascript">
  Router.route('nucleus', {
    path: '/nucleus',
    layoutTemplate: 'nucleus'
  });
                </code>
              </pre>
            </div>

          </div>
          <h3 class="col-sm-12 col-md-12 subheading text-align-center own-the-net">And you are ready to own the Internet!</h3>
        </div>

        <div class="row">
          <div id="super-powers" class="col-sm-offset-1 col-sm-10">
            <h2 class="main-heading"><strong>Super Powers</strong></h2>
            <p>
              <strong>Nucleus IDE</strong> - not your another browser based IDE. It's bathed in gamma rays and bitten by radioactive spiders. Not to mention its outer space origins
            </p>

            <div class="row features">

              <div class="col-sm-12">
                <section class="feature">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 thumbnail" >
                      <img src="/img/features/build-meteor-in-meteor.png" alt="" />
                    </div>
                    <div class="col-xs-12 col-sm-8 blurb">
                      <div class="feature-description">
                        <h4 class="feature-heading">Code Meteor In Meteor</h4>
                        <p>
                          Nucleus allow you to build your full meteor app from inside the browser and what's better, it lives right inside your development build. You get an in-browser IDE which allow you to edit your app collaboratively.
                        </p>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div class="col-sm-12">
                <section class="feature">
                  <div class="row">

                    <div class="col-xs-12 col-sm-4 col-md-4 thumbnail">
                      <img src="/img/features/eval.png" alt="" />
                    </div>

                    <div class="col-xs-12 col-sm-8 blurb">
                      <div class="feature-description">
                        <h4 class="feature-heading">Complete code eval coverage</h4>
                        <p>
                          All the client side changes are evaled live in the browser. No page refreshes whatsoever. Edit your HTML, CSS and client side JS from within the browser, and changes appear live for everyone attached to your Nucleus.
                        </p>
                      </div>
                    </div>

                  </div>
                </section>
              </div>

              <div class="col-sm-12">
                <section class="feature">
                  <div class="row">

                    <div class="col-xs-12 col-sm-4 col-md-4 thumbnail">
                      <img src="/img/features/shared-runtime.png" alt="" />
                    </div>

                    <div class="col-xs-12 col-sm-8 blurb">
                      <div class="feature-description">
                        <h4 class="feature-heading">Simulated shared runtime over the network</h4>
                        <p>
                          All the changes take affect for everyone editting the app with Nucleus. It's like everyone is editting the app from same terminal, but even better. You don't need to fight for keyboard.
                        </p>
                      </div>
                    </div>

                  </div>
                </section>
              </div>

              <div class="col-sm-12">
                <section class="feature">
                  <div class="row">

                    <div class="col-xs-12 col-sm-4 col-md-4 thumbnail">
                      <img src="/img/features/event-sync.png" alt="" />
                    </div>

                    <div class="col-xs-12 col-sm-8 blurb">
                      <div class="feature-description">
                        <h4 class="feature-heading">Synced application actions</h4>
                        <p>
                          Sync clicks, route changes, form inputs and other actions in your app across other coders. Nucleus allow you to sync events both in your app and in Nucleus so you can see what someone else is doing, where and how.
                        </p>
                      </div>
                    </div>

                  </div>
                </section>
              </div>

              <div class="col-sm-12">
                <section class="feature">
                  <div class="row">

                    <div class="col-xs-12 col-sm-4 col-md-4 thumbnail">
                      <img src="/img/features/collaborate.png" alt="" />
                    </div>

                    <div class="col-xs-12 col-sm-8 blurb">
                      <div class="feature-description">
                        <h4 class="feature-heading">Character by character realtime code collaboration</h4>
                        <p>
                          You get Google Docs style character by character raltime code collaboration. See other's moving across the code and making changes.
                        </p>
                      </div>
                    </div>

                  </div>
                </section>
              </div>

              <div class="col-sm-12">
                <section class="feature">
                  <div class="row">

                    <div class="col-xs-12 col-sm-4 col-md-4 thumbnail">
                      <img src="/img/features/git.png" alt=""  />
                    </div>

                    <div class="col-xs-12 col-sm-8 blurb">
                      <div class="feature-description">
                        <h4 class="feature-heading">Git/GitHub integration</h4>
                        <p>
                          Commit all the changes you make in nucleus with git and push to Github (or bitbucker or whatever). Have shared coding sessions with your peers/teammates/interns and take your changes with you.
                        </p>
                      </div>
                    </div>

                  </div>
                </section>
              </div>

              <div class="col-sm-12">
                <section class="feature">
                  <div class="row">

                    <div class="col-xs-12 col-sm-4 col-md-4 thumbnail">
                      <img src="/img/features/chat.png" alt=""  />
                    </div>

                    <div class="col-xs-12 col-sm-8 blurb">
                      <div class="feature-description">
                        <h4 class="feature-heading">Chat with Peers</h4>
                        <p>
                          Simple group chat baked right inside your IDE. Watch, learn, discus and conquer.
                        </p>
                      </div>
                    </div>

                  </div>
                </section>
              </div>

              <div class="col-sm-12">
                <section class="feature">
                  <div class="row">

                    <div class="col-xs-12 col-sm-4 col-md-4 thumbnail">
                      <img src="/img/features/terminal.png" alt=""  />
                    </div>

                    <div class="col-xs-12 col-sm-8 blurb">
                      <div class="feature-description">
                        <h4 class="feature-heading">In Browser Terminal</h4>
                        <p>
                          A small terminal window built in your editor for executing commands on the working machine.
                        </p>
                      </div>
                    </div>

                  </div>
                </section>
              </div>

              <div class="col-sm-12">
                <section class="feature">
                  <div class="row">

                    <div class="col-xs-12 col-sm-4 col-md-4 thumbnail">
                      <img src="/img/features/buddy.png" alt=""  />
                    </div>

                    <div class="col-xs-12 col-sm-8 blurb">
                      <div class="feature-description">
                        <h4 class="feature-heading">Buddy Follow</h4>
                        <p>
                          Check who's where in the editor and quick open that file to see what they're doing.
                        </p>
                      </div>
                    </div>

                  </div>
                </section>
              </div>

            </div>

          </div>

        </div>
        <p class="preview text-align-center">
          <a href="http://demo.nucleuside.com" class="btn btn-lg btn-danger">
            &nbsp; Check Nucleus in Action &nbsp;
          </a>
        </p>
      </div>
    </div>

    <p class="lead text-align-center"><a class="back-to-top" href="#"> back to top <i class="fa fa-angle-up"></i></a></p>
    <footer class="footer container">
      <div class="row">
        <ul class="col-md-6 col-xs-12 nav">
          <li><a href="{{pathFor 'home'}}">Home</a></li>
          <li><a href="{{pathFor 'about'}}">About</a></li>
          <li><a href="{{pathFor 'team'}}">Team</a></li>
        </ul>
        <ul class="col-md-6 col-xs-12 nav">
          <li><a href="{{pathFor 'signup'}}">Signup</a></li>
          <li><a href="#super-powers">Super Powers</a></li>
          <li><a href="https://github.com/NucleusIDE/meteor-nucleus">Source Code</a></li>
        </ul>
      </div>
      <div class="row col-md-8 copyright col-md-offset-2">
        &copy; 2014 &nbsp;&nbsp;
        <a href="http://faceyspacey.com">Nucleus IDE Inc</a>
      </div>
    </footer>
  </div>
</template>
