<template name="login">
  {{> header}}

  <div class="single-widget-container">
    <section class="widget login-widget">
      <header class="text-align-center">
        <h4>Login to your account</h4>
      </header>
        {{flash}}

      <div class="body">
        <form class="no-margin"
              id="login-form" >
          <fieldset>
            <div class="form-group">
              <label for="email" >Email</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input id="email" type="email" class="form-control input-lg input-transparent"
                       placeholder="Your Email">
              </div>
            </div>
            <div class="form-group">
              <label for="password" >Password</label>

              <div class="input-group input-group-lg">
                <span class="input-group-addon">
                  <i class="fa fa-lock"></i>
                </span>
                <input id="password" type="password" class="form-control input-lg input-transparent"
                       placeholder="Your Password">
              </div>
            </div>

            {{#if session 'is_signing_up'}}
            <div class="form-group">
              <label for="password" >Confirm</label>

              <div class="input-group input-group-lg">
                <span class="input-group-addon">
                  <i class="fa fa-lock"></i>
                </span>
                <input id="confirm-password" type="password" class="form-control input-lg input-transparent"
                       placeholder="Confirm Password">
              </div>
            </div>
            {{/if}}

          </fieldset>
          <div class="form-actions">
            <button type="submit" class="btn btn-block btn-lg btn-danger">
              <span class="small-circle"><i class="fa fa-caret-right"></i></span>
              <small>Sign {{#if session 'is_signing_up'}} Up {{else}} In {{/if}}</small>
            </button>
            {{#if session 'is_signing_up'}}
            <a class="forgot goto-login" href="{{pathFor 'login'}}">Got an account already?</a>
            {{else}}
            <a class="forgot goto-signup" href="{{pathFor 'signup'}}">New User?</a>
            {{/if}}

          </div>
        </form>
      </div>
      <footer>

      </footer>
    </section>
  </div>
</template>
