<template name="payment_details">
  <div class="wrap">
    <div class="content container signup-wizard">
      <h2 class="page-title"> Payment <small> details</small></h2>
      <div class="row">
        <div class="col-lg-7 col-lg-offset-1">
					
          <section class="widget">
						
            <header>
							{{#if currentUser.card_number}}
								<h4 style="text-align:right;">Card on File: {{currentUser.card_number}}</h4>
							{{/if}}
            </header>
						
            <div class="body">
              <div class="form">

                <div class="tab-content">

                  <div id="payment-details">
										{{#if currentUser}}
											{{#ultimateForm id='payment_details' model=currentUser validation='blur' class='form-horizontal mt-sm'}}
											
	                      <fieldset>											
													{{>formGroup name='name_on_card' style="width:258px"}}
													{{>formGroup name='card_number' style="width:258px"}}
													
	                       	{{>ccExpGroup month='expiration_month' year='expiration_year' monthStyle='width: 110px; float:left;' yearStyle='margin-left:20px; width:80px; float:left;'}}
													
													{{>formGroup name='cvc' style="width:110px;"}}
													{{>autoSubmit value='Save' style='width: 208px;'}}
	                      </fieldset>
											
											{{/ultimateForm}}
										{{/if}}
                  </div>
									
                </div>
              </div>
            </div>
          </section>
					
        </div>
      </div>
    </div>
		
    <div class="loader-wrap hiding hide">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
  </div>
</template>
