<template name="signup_wizard">
  <header class="page-header">
    <div class="navbar">
      <div class="logo pull-left">
        <h4><a href="{{pathFor 'home'}}">Nucleus <strong>IDE</strong></a></h4>
      </div>
      <!-- <ul class="navbar-buttons pull-right">
      <li>
      <a href="{{pathFor 'logout'}}" class="btn btn-sm btn-transparent">
      Logout
      </a>
      </li>
      </ul> -->
    </div>
  </header>

  <div class="wrap">
    <div class="content container signup-wizard">
      <h2 class="page-title"> Signup <small>for trip to Mars</small></h2>
      <div class="row">
        <div class="col-lg-7 col-lg-offset-1">
          <section class="widget">
            <header>

            </header>
            <div class="body">
              <div id="wizard" class="form-wizard">
                <ul class="wizard-navigation nav-justified">
                  <li><a class="step-1" href="#tab1" data-toggle="tab"><small>1.</small><strong> Billing Option </strong></a></li>
                  <li><a class="step-2" href="#tab2" data-toggle="tab"><small>2.</small> <strong> Order Details  </strong></a></li>
                  <li><a class="step-3" href="#tab3" data-toggle="tab"><small>3.</small> <strong>Pay</strong></a></li>
                  <li><a class="step-4" href="#tab4" data-toggle="tab"><small>4.</small> <strong>Thank you!</strong></a></li>
                </ul>
                <div id="bar" class="progress progress-small">
                  <div class="progress-bar progress-bar-inverse"></div>
                </div>
                <div class="tab-content">

                  <div class="tab-pane" id="tab1">
                    <form class="form-horizontal mt-sm" action='#'>
                      <div class="billing-buttons col-md-12 text-align-center">
                        <button class="btn-primary btn-lg btn-block hourly">Hourly* ($1/hr )</button>
                        <div class="or">- OR -</div>
                        <button class="btn-transparent btn-lg btn-block monthly">Monthly  ($160/month)</button>
                        <span class="help-block pull-left">*min 2 hours billed</span>
                      </div>
                    </form>
                  </div>

                  <div class="tab-pane" id="tab2">
                    <form class="form-horizontal mt-sm" action='' method="POST">
                      <fieldset>
                        <div class="form-group">
                          <label for="github-url" class="control-label col-md-3">Github URL</label>
                          <div class="col-md-8">
                            <div class="col-md-10">
                              <input type="text" id="github-url" name="github-url" placeholder="Github URL of your Project" class="form-control">
                              <span class="help-block pull-left">Github URL of your project</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="courier" class="control-label col-md-3">Subdomain</label>

                          <div class="col-md-8">
                            <div class="col-md-10 input-group" style="margin-left:15px;">
                              <div class="form-inline input-group">
                                <input type="text" class="form-control" id="subdomain" placeholder="my-project">
                                <div class="input-group-addon">.nucleuside.com</div>
                              </div>
                              <span class="help-block pull-left">Your project will be accessible here</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3" for="password">Password</label>
                          <div class="col-md-8">
                            <div class="col-md-10"><input type="password" id="destination" name="password" placeholder="(optional)" class="form-control">
                              <span class="help-block">Wanna password protect your subdomain?</span></div>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>

                  <div class="tab-pane" id="tab3">
                    <form class="form-horizontal mt-sm" action='' method="POST">
                      <fieldset>
                        <div class="form-group">
                          <label class="control-label col-md-3"  for="name">Name on the Card</label>
                          <div class="col-md-8">
                            <div class="col-md-10"><input type="text" id="name" name="name" placeholder="" class="form-control"></div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <label class="control-label col-md-3" for="credit">Credit Card Number </label>
                          <div class="col-md-8">
                            <div class="col-md-10"><input id="credit" type="text" tabindex="3" class="form-control"></div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="expiration-date" class="control-label col-md-3">Expiration Date</label>
                          <div class="col-md-8">
                            <div class="col-md-10"><input type="text" id="expiration-date"  class="form-control"></div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="cvc" class="control-label col-md-3">CVC</label>
                          <div class="col-md-8">
                            <div class="col-md-10">
                              <input class="form-control" id="cvc" name="" type="password" />
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                  <div class="tab-pane" id="tab4">
                    <h2>Thank you!</h2>
                    <p class="mb-lg">Your submission has been received.</p>
                  </div>
                  <div class="description ml mr mt-n-md">
                    <ul class="pager wizard">
                      <li class="previous">
                        <button class="btn btn-primary pull-left"><i class="fa fa-caret-left"></i> Previous</button>
                      </li>
                      <li class="next">
                        <button class="btn btn-primary pull-right" >Next <i class="fa fa-caret-right"></i></button>
                      </li>
                      <li class="finish" style="display: none">
                        <button class="btn btn-success pull-right" >Finish <i class="fa fa-check"></i></button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="loader-wrap hiding hide">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
  </div>
</template>
